div.row{
    margin-top: 0.25vh;
    margin-right: 0.25vh;
   
    margin-left: 0.25vh !important;
}

.btn{
    border-radius: 0;
}

/* Scrollbar */


*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 8px;
  
  }
  
  *::-webkit-scrollbar-thumb {
    height: 55px;
    border-radius: 8px;
    background-color: #777;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #272727;
  }

.FootName{
  transition: transform .5s ease;
}
  .FootName:hover{
    transform: scale(1.06);
  }

  